
// FONTS ------------------

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');

$font-stack: Helvetica, sans-serif;
$title-font: 'Source Sans Pro', sans-serif;


// COLORS ----------------
$primary-color: #fa4616;
$grey-dark: #5a5b5d;
$grey-medium: #828282;
$grey-light: #e5e5e5;
$white: #fff;


// MEDIA QUERIES ---------

$mq-small: 768px;
$mq-medium: 960px;
$mq-large: 1020px;
